.sivu {
  max-width: 900px;
  margin: auto;
}

.yhteenveto {
  border: solid 1px #ccc;
  padding: 20px;
  width: 300px;
  font-weight: bold;
}

.laskurinappi {
  display: block;
  width: 342px;
  padding: 15px 20px;
  margin-bottom: 5px;
  border: solid 1px #aaa;
  border-radius: 5px;
  background-color: rgb(46, 80, 192);
  color: white;
  text-align: left;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
}

.laskurinappi:hover {
  background-color: rgb(105, 135, 235);
}

.laskurinappi:active {
  background-color: rgb(20, 47, 138);
}
